:root {
  --primary-text-color: #212121;
  --second-color: #ffffff;
  --accent-color: #2196f3;
  --paragraph-color: #757575;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*Оформление логотипа*/
.logo {
  text-decoration: none;
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-footer {
  text-decoration: none;
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-color);
}
.logo-web {
  color: var(--accent-color);
}

/*Оформление нафигации*/
.nav-list,
.contacts {
  list-style: none;
  letter-spacing: 0.02em;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.footer-contacts {
  list-style: none;
  letter-spacing: 0.02em;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  color: var(--second-color);
}
.footer-nav {
  background-color: #2f303a;
}
.contacts-link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.nav-item :focus,
.nav-item :hover,
.contacts-item :hover,
.contacts-item :focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts-link {
  color: var(--paragraph-color);
  text-decoration: none;
}

/* Оформление  кнопок*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--second-color);
  border-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
}
.hero-button :focus,
.hero-button :hover {
  color: var(--accent-color);
}
.filter-button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border-color: #f5f4fa;
  list-style: none;
  cursor: pointer;
}
.filter-item :focus,
.filter-item :hover {
  background-color: var(--accent-color);
  color: var(--second-color);
  border-color: var(--accent-color);
}
.filter-item {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

/* Оформление секции герой*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--second-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
}

/* Оформление секции advantages-list */
.advantages-item {
  list-style: none;
}
.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

/* Оформление секции "Чем мы занимаемся"*/
.works-item {
  list-style: none;
}

/* Оформление секции "Наша команда"*/
.second-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.16;
}
.team {
  background-color: #f5f4fa;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-color);
  list-style: none;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

/* Оформление страницы,секции портфолио */
.portfolio-item {
  list-style: none;
  background: var(--second-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.portfolio-link {
  text-decoration: none;
}
